
.Content{
    position: relative;
     color:white;
     font-family: 'Calistoga';
}
.bag{
    position: absolute;
    top: 2em;
    left: 10%;
    font-size: 5vw;
}
.bag .description{
    font-family: 'Open Sans';
    font-size:2vw;
}
.bag .line{
    position: absolute;
    top:2em;
    background-color: white;
    height: 1px;
    width:  2em;
}
.AdditionInformation{
    position: absolute;
    top:7em;
    font-family: 'Open Sans';
    font-weight: 300;
    font-size: 1.5vw;
}
.bag .button1 {
    position: absolute;
    top: 8em;
    left: 4.5em;
    display: inline-block;
    color: white;
    font-family: 'Calistoga';
    font-size: 2vw;
    text-decoration: none;
    user-select: none;
    outline: none;
    padding: .5em 2em;
    border: 2px solid;
    border-radius: 1px;
    transition: 0.2s;
}
a.button1:hover { background: rgba(255,255,255,.2); }
a.button1:active { background: white; }