
.bg {
    position: relative;
    background-color: #333333;
    opacity: 70;
    height: 3.5em;
    width: 100%;
    margin: auto 0;

}
ul {
    position: absolute;
    right: 5em;
    font-family: 'Montserrat';
    display: flex;
    flex-direction: row;
    float: right;
    list-style: none; /*убираем маркеры списка*/
  }
  a {
      text-decoration: none; /*убираем подчеркивание текста ссылок*/
      font-size: 10pt;
      color: white;
    }
ul li {
    margin-left: 50px;
}
ul li:hover {
text-decoration: underline;
}
